body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
}

.createForm{
    
    padding-left: 30%;
}
.collection .collection-item {
    background-color: #fff;
    /* line-height: 1.5rem; */
    padding: 5px 10px; 
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
select{
    display: inline;
}
#mceu_12-body{
     visibility: hidden;
}
.page-footer .footer-copyright{
    text-align: center;
}
.slider{
    width: 600px; 
    height: 500px;
}
.slides{
    height: 500px;
    width: 600px;
}
.slider .indicators .indicator-item.active{
    background-color:#1565c0;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 100%;
}

/*.fa:hover {*/
/*    opacity: 0.7;*/
/*}*/

.fa-facebook {
    /*background: #3B5998;*/
    color:#3B5998;
}
.fa-facebook:hover {
    background: #3B5998;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.fa-twitter {
    /*background: #55ACEE;*/
    color: #55ACEE;
}
.fa-twitter:hover {
    background: #55ACEE;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.fa-google {
    /*background: #dd4b39;*/
    color: #dd4b39;
}
.fa-google:hover {
    background: #dd4b39;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.fa-linkedin {
    /*background: #007bb5;*/
    color:#007bb5;
}
.fa-linkedin:hover {
    background: #007bb5;
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
}
.blog{
    margin-top: 200px;
}
.collapsible{
    border-left-color:#37474f; 
    border-top-color:#37474f; 
    border-right-color:#37474f; 
}
 
.collapsible-header{
    border-bottom-color:#37474f;
}
.collapsible-body{
    border-bottom-color:#37474f;
}
.titulo-articulo{
}