body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
}
.createForm{
    
    padding-left: 30%;
}
.collection .collection-item {
    background-color: #fff;
    /* line-height: 1.5rem; */
    padding: 5px 10px; 
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}
select{
    display: inline;
}
#mceu_12-body{
     visibility: hidden;
}
.slider{
    width: 600px; 
    height: 500px;
}
.slides{
    height: 500px;
    width: 600px;
}
.slider .indicators .indicator-item.active{
    background-color:#1565c0;
}